@page
@model IISC.Web.Pages.Garage.Maintain.IndexModel
@{
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>

    <a asp-page="/Garage/Maintain/Index" asp-page-handler="search" asp-route-searchItem="com">Test</a>

</body>
</html>