<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Garage.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-page="/Index">Garage.Web</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">
                                <i class="fa fa-home text-primary">&nbsp; </i>Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">
                                <i class="fa fa-plus-square text-primary">&nbsp; </i>New Asset
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">
                                <i class="fa fa-wrench text-primary">&nbsp; </i>Maintenance
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cogs text-primary">&nbsp; </i> Settings
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-page="/Category/Index">
                                    <i class="fa fa-th text-primary">&nbsp; </i>Category Setup
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-page="/Routines/Triggers">
                                    <i class="fa fa-random text-primary">&nbsp; </i>Trigger Setup
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-page="/Routines/SetupTrigger">
                                    <i class="fa fa-hourglass-end text-primary">&nbsp; </i>Manage Trigger
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-page="/Routines/SetupLogSheetTrigger">
                                    <i class="fa fa-calendar-check text-primary">&nbsp; </i>Log Sheet Setup
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-page="/Routines/TriggerSetup">
                                    <i class="fa fa-folder-open text-primary">&nbsp; </i>Statutory Setup
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">
                                <i class="fa fa-sitemap text-primary">&nbsp; </i>Reports
                            </a>
                        </li>

                    </ul>
                    @*<p class="nav navbar-text">Hello, @User.Identity.Name!</p>*@
                    <p class="nav navbar-text">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">
                            <i class="fa fa-question-circle text-warning">&nbsp; </i>
                        </a>
                    </p>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SCAW Limited - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
