@page
@model IISC.Web.Pages.AccessDeniedModel
@{
    ViewData["Access Denied"] = "Access Denied";
}

@{
    Layout = "";
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/circular-std/style.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>

<body>

    <div class="dashboard-main-wrapper p-0">
        <nav class="navbar navbar-expand dashboard-top-header bg-white">
            <div class="container-fluid">
                <div class="dashboard-nav-brand">
                    <a class="dashboard-logo" href="#">SCAW Limited - Integrated Information System</a>
                </div>
            </div>
        </nav>
        <div class="bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="error-section">
                            <img src="./images/full_logo.png" alt="Scaw Logo" class="img-fluid mt-5">
                            <div class="error-section-content">
                                <h1 class="display-4">Welcome to SIIS</h1>
                                <p class="bg-light text-secondary">To be the most preferred provider of high quality Grinding Media and Iron & Steel Castings in Zambia, as well as in the Central and Southern African market region.</p>
                                <a asp-page="/Login" type="submit" class="btn btn-primary btn-lg">Click to Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>