@page
@model IISC.Web.Pages.ControlModel
@{
    Layout = "";
}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/circular-std/style.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center display-7 font-weight-bold">
                <span class="text-primary d-inline-block">SIIS</span>
            </div>
            <div class="card-header text-center">
                <a href="#">
                    <img class="logo-img" src="./images/refer.png" alt="Login logo">
                </a>
            </div>
            <div class="card-body">
                <form method="post" asp-page="control">
                    <div class="form-group">
                        <input class="form-control form-control-lg" name="username" type="text" placeholder="enter *admin* username" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" name="password" type="password" value="123456789" placeholder="Password">
                    </div>
                    <div class="form-group">
                        @if (!string.IsNullOrEmpty(Model.Msg))
                        {
                            <span class="alert alert-danger mt-2">@Model.Msg</span>
                        }
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>


                </form>
            </div>
            <div class="card-footer bg-white p-0 text-center">
                <div class="card-footer-item card-footer-item-bordered">
                    Scaw Limited © @DateTime.Now.Year
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>