@page
@model IISC.Web.Pages.Garage.Asset.AddAssetModel
@{
    ViewData["Title"] = "Add New Asset";
}

<div class="row">
    <div class="col-xl-10">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header" id="top">
                    <h2 class="pageheader-title">@ViewData["Title"] </h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Home</a></li>
                                <li class="breadcrumb-item"><a asp-page="/Garage/Index" class="breadcrumb-link">Garage Management System</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <form method="post">
            <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">@ViewData["Title"]</h4>
                        </div>
                        @*@if (!ViewData.ModelState.IsValid && ViewData.ModelState.ErrorCount > 0)
                        {
                            <div class="card-body">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>@ViewData.ModelState["Error"].Errors.First().ErrorMessage</strong>
                                    <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </a>
                                </div>
                            </div>
                        }*@
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label fasp-for="AssetHeader.RegNo">Registration No</label>
                                <input asp-for="AssetHeader.RegNo" class="form-control" placeholder="Enter vehicle registration number" />
                                <span asp-validation-for="AssetHeader.RegNo" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label asp-for="AssetHeader.AssetTypeID">Asset Type</label>
                                <select asp-for="AssetHeader.AssetTypeID" class="form-control" asp-items="Model.AssetDisplay()">
                                </select>
                                <span asp-validation-for="AssetHeader.AssetTypeID" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="AssetHeader.CategoryID">Category</label>
                                <select asp-for="AssetHeader.CategoryID" class="form-control" asp-items="Model.CategoryDisplay()">
                                </select>
                                <span asp-validation-for="AssetHeader.CategoryID" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label asp-for="AssetHeader.EngineNo">Engine No</label>
                                <input asp-for="AssetHeader.EngineNo" class="form-control" placeholder="Enter Engine number" />
                                <span asp-validation-for="AssetHeader.EngineNo" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="AssetHeader.ChassisNo">Chassis No</label>
                                <input asp-for="AssetHeader.ChassisNo" class="form-control" placeholder="Enter Chassis number" />
                                <span asp-validation-for="AssetHeader.ChassisNo" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label asp-for="AssetHeader.Make">Make</label>
                                <select asp-for="AssetHeader.Make" class="form-control" asp-items="Model.MakeDisplay()">
                                </select>
                                <span asp-validation-for="AssetHeader.Make" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="AssetHeader.ModelID">Model</label>
                                <select asp-for="AssetHeader.ModelID" class="form-control" asp-items="Model.ModelDisplay()"></select>
                                <span asp-validation-for="AssetHeader.ModelID" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label asp-for="AssetHeader.EngineCapacity">Engine Capacity (CC)</label>
                                <input asp-for="AssetHeader.EngineCapacity" class="form-control" placeholder="Enter engine capacity in CC" />
                                <span asp-validation-for="AssetHeader.EngineCapacity" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="AssetHeader.FuelTypeID">Fuel Type</label>
                                <select asp-for="AssetHeader.FuelTypeID" class="form-control" asp-items="Model.FuelDisplay()"></select>
                                <span asp-validation-for="AssetHeader.FuelTypeID" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label asp-for="AssetHeader.Year">Manufacture Year</label>
                                <input asp-for="AssetHeader.Year" class="form-control" placeholder="Enter vehicle manufacture year" />
                                <span asp-validation-for="AssetHeader.Year" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="AssetHeader.Color">Color</label>
                                <select asp-for="AssetHeader.Color" class="form-control" asp-items="Model.ColorDisplay()">
                                </select>
                                <span asp-validation-for="AssetHeader.Color" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <!--<div class="col-sm-4">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12 col-lg-12">
                            <div class="card">
                                <div class="card-header pills-regular">
                                    <ul class="nav nav-pills card-header-pills" id="myTab2" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="card-pills-1" data-toggle="tab" href="#card-pill-1" role="tab" aria-controls="card-1" aria-selected="true">Insurance</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="card-pills-2" data-toggle="tab" href="#card-pill-2" role="tab" aria-controls="card-2" aria-selected="false">Road Tax</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="card-pills-3" data-toggle="tab" href="#card-pill-3" role="tab" aria-controls="card-3" aria-selected="false">Fitness</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="myTabContent2">
                                        <div class="tab-pane fade show active" id="card-pill-1" role="tabpanel" aria-labelledby="card-tab-1">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <label asp-for="InsuranceVM.TypeId">Insurance Type</label>
                                                    <select asp-for="InsuranceVM.TypeId" class="form-control" asp-items="Model.ModelInsuranceType()"></select>
                                                    <span asp-validation-for="InsuranceVM.TypeId" class="text-danger"></span>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <label asp-for="InsuranceVM.CompanyName">Insurance Company</label>
                                                    <input asp-for="InsuranceVM.CompanyName" class="form-control" placeholder="Enter insurance company" />
                                                    <span asp-validation-for="InsuranceVM.CompanyName" class="text-danger"></span>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <label asp-for="InsuranceVM.InsuranceValue">Insurance Value(K)</label>
                                                    <input asp-for="InsuranceVM.InsuranceValue" class="form-control" value="0" placeholder="Enter insurance value" />
                                                    <span asp-validation-for="InsuranceVM.InsuranceValue" class="text-danger"></span>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <label asp-for="InsuranceVM.DateFrom">Date From</label>
                                                    <input asp-for="InsuranceVM.DateFrom" class="form-control" placeholder="Enter insurance date from" />
                                                    <span asp-validation-for="InsuranceVM.DateFrom" class="text-danger"></span>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <label asp-for="InsuranceVM.DateTo">Date To</label>
                                                    <input asp-for="InsuranceVM.DateTo" class="form-control" placeholder="Enter insurance date to" />
                                                    <span asp-validation-for="InsuranceVM.DateTo" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="card-pill-2" role="tabpanel" aria-labelledby="card-tab-2">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <label asp-for="RoadTaxVM.DateRenewed">Renewed Date</label>
                                                    <input asp-for="RoadTaxVM.DateRenewed" class="form-control" placeholder="Select date renewed" />
                                                    <span asp-validation-for="RoadTaxVM.DateRenewed" class="text-danger"></span>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <label asp-for="RoadTaxVM.ExpiryDate">Expiry Date</label>
                                                    <input asp-for="RoadTaxVM.ExpiryDate" class="form-control" placeholder="Select expiry date" />
                                                    <span asp-validation-for="RoadTaxVM.ExpiryDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="card-pill-3" role="tabpanel" aria-labelledby="card-tab-3">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <label asp-for="FitnessVM.DateRenewed">Renewed Date</label>
                                                    <input asp-for="FitnessVM.DateRenewed" class="form-control" placeholder="Select date renewed" />
                                                    <span asp-validation-for="FitnessVM.DateRenewed" class="text-danger"></span>
                                                </div>-->
                                                @*<div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <label asp-for="FitnessVM.ExpiryDate">ExpiryDate</label>
                                                    <input asp-for="FitnessVM.ExpiryDate" class="form-control" placeholder="Select expiry date" disabled />
                                                    <span asp-validation-for="FitnessVM.ExpiryDate" class="text-danger"></span>
                                                </div>*@
                                            <!--</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Optional Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label asp-for="AssetHeader.YearOfPurchase">Purchase Year</label>
                                    <input asp-for="AssetHeader.YearOfPurchase" class="form-control" placeholder="Enter vehicle purchase year" />
                                    <span asp-validation-for="AssetHeader.YearOfPurchase" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label asp-for="AssetHeader.InitialMileage">Initial Mileage</label>
                                    <input asp-for="AssetHeader.InitialMileage" class="form-control" placeholder="Enter vehicle initial mileage" />
                                    <span asp-validation-for="AssetHeader.InitialMileage" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label asp-for="AssetHeader.AssetValue">Asset Value (K)</label>
                                    <input asp-for="AssetHeader.AssetValue" value="0.00" class="form-control" placeholder="Enter Asset Value (K)" />
                                    <span asp-validation-for="AssetHeader.AssetValue" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label asp-for="AssetHeader.TagNo">Tag No</label>
                                    <input asp-for="AssetHeader.TagNo" class="form-control" placeholder="Enter Tag number if applicable" />
                                    <span asp-validation-for="AssetHeader.TagNo" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label asp-for="AssetHeader.Comment">Comment</label>
                                    <textarea asp-for="AssetHeader.Comment" rows="4" class="form-control" text-wrap:normal" type="text" placeholder="Comment"></textarea>
                                </div>
                                <div class="col-md-6 mb-3">

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row mt-2 float-left">
                                <a asp-page="/Garage/Index" class="btn btn-outline-dark">Cancel</a>
                            </div>
                            <div class="row mt-2 float-right">
                                <button type="submit" class="btn btn-outline-primary">Add Asset</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- sidenavbar -->
    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
        <div class="sidebar-nav-fixed">
            <ul class="list-unstyled">
                <li><a href="#overview" class="active">Overview</a></li>
                <li><a href="#top">Back to Top</a></li>
            </ul>
        </div>
    </div>
    <!-- end sidenavbar -->
</div>