@page
@model IISC.Web.Pages.Shared.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<div class="container container-fluid">
    <div class="alert alert-warning">
        <p>Record not found, contact system administator</p>
    </div>
</div>
